# MVP_Bojado

## Imports

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Web Scraping Libraries
import urllib
import requests
from bs4 import BeautifulSoup

# Regex Library
import re

# Time-related Libraries
import time

# Geo-mapping Libraries
import geopandas
import geopy
import folium 

# NLP Libraries
import spacy
import unicodedata
import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords
from wordcloud import WordCloud

# Warnings
import warnings
warnings.filterwarnings("ignore")

# Acquire and Prepare

In [4]:
# Acquired and Prepared Json file
df = pd.read_json("df_ds_tx_prepared.json")
df.head()

,date,title,company,company_rating,job_link,job_description,city,state,zipcode,clean,tokenized,stemmed,lemmatized
0,2021-02-03,Data Scientist Sr. Associate\nnew,"JPMorgan Chase Bank, N.A.",3.9,https://www.indeed.com/rc/clk?jk=dfd1ed6ece073...,The Data Scientist is an individual contributo...,Lewisville,TX,0,data scientist individual contributor able app...,the data scientist is an individual contributo...,the data scientist is an individu contributor ...,the data scientist is an individual contributo...
1,2021-02-03,Data Scientist\nnew,Booz Allen Hamilton,3.9,https://www.indeed.com/rc/clk?jk=246ba9f708c3e...,The Challenge:\nAre you excited at the prospec...,San Antonio,TX,0,challenge excited prospect unlocking secret he...,the challenge\nare you excited at the prospect...,the challeng are you excit at the prospect of ...,the challenge are you excited at the prospect ...
2,2021-02-03,Human Performance Data Analyst Mid/Sr\nnew,Booz Allen Hamilton,3.9,https://www.indeed.com/rc/clk?jk=2538d333374b7...,Key Role:\nServe as a Human Performance Data A...,San Antonio,TX,0,key role serve human performance data analyst ...,key role\nserve as a human performance data an...,key role serv as a human perform data analyst ...,key role serve a a human performance data anal...
3,2021-02-03,Professional-Data Scientist\nnew,AT&T,3.7,https://www.indeed.com/rc/clk?jk=c4841a42f1129...,Overall Purpose: THIS JOB REQUIRES SPECIAL APP...,Plano,TX,0,overall purpose job requires special approval ...,overall purpose this job requires special appr...,overal purpos thi job requir special approv fr...,overall purpose this job requires special appr...
4,2021-02-03,Sr. Data Scientist (Remote)\nnew,Ayasdi,2.3,https://www.indeed.com/rc/clk?jk=57ec78190a3c2...,Ayasdi is breaking new ground in enterprise AI...,Austin,TX,78708,ayasdi breaking new ground enterprise ai looki...,ayasdi is breaking new ground in enterprise ai...,ayasdi is break new ground in enterpris ai and...,ayasdi is breaking new ground in enterprise ai...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1270 entries, 0 to 1269
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             1270 non-null   datetime64[ns]
 1   title            1270 non-null   object
 2   company          1270 non-null   object
 3   company_rating   1270 non-null   float64
 4   job_link         1270 non-null   object
 5   job_description  1270 non-null   object
 6   city             1270 non-null   object
 7   state            1270 non-null   object
 8   zipcode          1270 non-null   int64
 9   clean            1270 non-null   object
 10  tokenized        1270 non-null   object
 11  stemmed          1270 non-null   object
 12  lemmatized       1270 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(1), object(10)
memory usage: 129.1+ KB

# Explore

In [ ]:
# Create a general library for all skills
general_library = ['python', 'sql', 'pandas','numpy','matplotlib','scikit learn','spark','hadoop',
           'aws','amazon web services','azure','microsoft word','microsoft excel','excel',
           'tableau','tensor flow','pytorch','hive', 'impala', 'matlab', 'modeling','etl',
           'algorithm','statistics','exploration', 'extraction', 'data wrangling','math',
           'programming','analytics','machine learning','data visualization','java','js',
           'javascript','scala','R','C','C++','power BI','dashboard','linear algebra',
           'calculus','neural networks','eda','big data','frameworks','database management',
           'testing hypotheses','probability','data mining','perl','nosql','SaaS','Git',
           'GitHub','natural language processing','NLP','deep learning','Agile','Kanban',
           'project management','Julia','DevOps','Google Cloud','PyTorch','computer vision',
           'critical thinking','communication','problem solving','teamwork','ethics','business acumen',
           'interpersonal skills','curiosity','storytelling','adaptability','team player','collaboration',
           'learning','time management','leadership','domain knowledge','creativity','decision making',
           'verbal communication','written communication']

In [ ]:
# Create a tech library
tech_library = ['python', 'sql', 'pandas','numpy','matplotlib','scikit learn','spark','hadoop',
           'aws','amazon web services','azure','microsoft word','microsoft excel','excel',
           'tableau','tensor flow','pytorch','hive', 'impala', 'matlab', 'modeling','etl',
           'algorithm','statistics','exploration', 'extraction', 'data wrangling','math',
           'programming','analytics','machine learning','data visualization','java','js',
           'javascript','scala','R','C','C++','power BI','dashboard','linear algebra',
           'calculus','neural networks','eda','big data','frameworks','database management',
           'testing hypotheses','probability','data mining','perl','nosql','SaaS','Git',
           'GitHub','natural language processing','NLP','deep learning','Agile','Kanban',
           'project management','Julia','DevOps','Google Cloud','PyTorch','computer vision']

In [ ]:
# Create a soft skills library
soft_library = ['critical thinking','communication','problem solving','teamwork','ethics','business acumen',
           'interpersonal skills','curiosity','storytelling','adaptability','team player','collaboration',
           'learning','time management','leadership','domain knowledge','creativity','decision making',
           'verbal communication','written communication']

In [48]:
# Company ratings
ratings = pd.concat([df.company_rating.value_counts(),
                    df.company_rating.value_counts(normalize=True)], axis=1)
ratings.columns = ['amount', 'percent']
ratings

     amount   percent
0.0     254  0.200000
3.9     168  0.132283
4.0     167  0.131496
3.8     153  0.120472
3.7      73  0.057480
3.5      61  0.048031
3.6      58  0.045669
4.2      54  0.042520
3.4      48  0.037795
4.3      40  0.031496
4.1      34  0.026772
3.2      27  0.021260
3.0      26  0.020472
3.3      20  0.015748
3.1      15  0.011811
2.3      10  0.007874
4.5      10  0.007874
2.6       8  0.006299
2.4       8  0.006299
4.4       7  0.005512
2.7       7  0.005512
5.0       6  0.004724
2.8       5  0.003937
4.6       4  0.003150
2.9       2  0.001575
2.5       2  0.001575
4.7       2  0.001575
2.0       1  0.000787

In [58]:
all_words = (' '.join(df[(df.clean=="data")])
all_freq = pd.Series(all_words).value_counts()
all_freq.head()

SyntaxError: invalid syntax (<ipython-input-58-44bc3d407969>, line 2)

# 4. Model

# 5. Conclusions