In [25]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [26]:
df = pd.read_json("df_ds_tx_prepared.json")

df.head()

,date,title,company,company_rating,job_link,job_description,city,state,zipcode,clean,tokenized,stemmed,lemmatized
0,2021-02-03,Data Scientist Sr. Associate\nnew,"JPMorgan Chase Bank, N.A.",3.9,https://www.indeed.com/rc/clk?jk=dfd1ed6ece073...,The Data Scientist is an individual contributo...,Lewisville,TX,0,data scientist individual contributor able app...,the data scientist is an individual contributo...,the data scientist is an individu contributor ...,the data scientist is an individual contributo...
1,2021-02-03,Data Scientist\nnew,Booz Allen Hamilton,3.9,https://www.indeed.com/rc/clk?jk=246ba9f708c3e...,The Challenge:\nAre you excited at the prospec...,San Antonio,TX,0,challenge excited prospect unlocking secret he...,the challenge\nare you excited at the prospect...,the challeng are you excit at the prospect of ...,the challenge are you excited at the prospect ...
2,2021-02-03,Human Performance Data Analyst Mid/Sr\nnew,Booz Allen Hamilton,3.9,https://www.indeed.com/rc/clk?jk=2538d333374b7...,Key Role:\nServe as a Human Performance Data A...,San Antonio,TX,0,key role serve human performance data analyst ...,key role\nserve as a human performance data an...,key role serv as a human perform data analyst ...,key role serve a a human performance data anal...
3,2021-02-03,Professional-Data Scientist\nnew,AT&T,3.7,https://www.indeed.com/rc/clk?jk=c4841a42f1129...,Overall Purpose: THIS JOB REQUIRES SPECIAL APP...,Plano,TX,0,overall purpose job requires special approval ...,overall purpose this job requires special appr...,overal purpos thi job requir special approv fr...,overall purpose this job requires special appr...
4,2021-02-03,Sr. Data Scientist (Remote)\nnew,Ayasdi,2.3,https://www.indeed.com/rc/clk?jk=57ec78190a3c2...,Ayasdi is breaking new ground in enterprise AI...,Austin,TX,78708,ayasdi breaking new ground enterprise ai looki...,ayasdi is breaking new ground in enterprise ai...,ayasdi is break new ground in enterpris ai and...,ayasdi is breaking new ground in enterprise ai...

In [27]:
df.company.value_counts().head(20)

Cognizant Technology Solutions    50
Dell Technologies                 32
Deloitte                          30
USAA                              25
Facebook                          20
StataCorp                         17
Apple                             17
JPMorgan Chase Bank, N.A.         17
KPMG                              16
Indeed                            16
Pearson                           15
Whole Foods Market                14
Wells Fargo                       14
Advanced Micro Devices, Inc.      12
Oportun Inc                       11
Verizon                           11
Herzog Technologies, Inc.         11
O'Neil Digital Solutions          10
Sam's Club                        10
Alcon                             10
Name: company, dtype: int64

In [28]:
df.city.value_counts().head(20)

Austin             369
Dallas             202
Houston            161
San Antonio        102
Plano               96
0                   66
Irving              62
Fort Worth          31
Round Rock          28
Frisco              18
Richardson          17
College Station     17
Addison             12
Abilene              9
Farmers Branch       9
Spring               8
Sugar Land           7
Manor                6
Denton               6
The Woodlands        5
Name: city, dtype: int64

### Creating a geo map for top 3 most prevalent job cities

In [29]:
# filtering df
top3 = df[(df.city == 'Austin') | (df.city == 'Dallas') | (df.city == 'Houston')]

In [30]:
top3['lat'] = np.where((top3['city'] == 'Austin'), 30.267153, None)
top3['lon'] = np.where((top3['city'] == 'Austin'), -97.743057, None)

top3['lat'] = np.where((top3['city'] == 'Dallas'), 32.776665, top3.lat)
top3['lon'] = np.where((top3['city'] == 'Dallas'), -96.796989, top3.lon)

top3['lat'] = np.where((top3['city'] == 'Houston'), 29.760427, top3.lat)
top3['lon'] = np.where((top3['city'] == 'Houston'), -95.369804, top3.lon)

In [31]:
top3.head(2)

,date,title,company,company_rating,job_link,job_description,city,state,zipcode,clean,tokenized,stemmed,lemmatized,lat,lon
4,2021-02-03,Sr. Data Scientist (Remote)\nnew,Ayasdi,2.3,https://www.indeed.com/rc/clk?jk=57ec78190a3c2...,Ayasdi is breaking new ground in enterprise AI...,Austin,TX,78708,ayasdi breaking new ground enterprise ai looki...,ayasdi is breaking new ground in enterprise ai...,ayasdi is break new ground in enterpris ai and...,ayasdi is breaking new ground in enterprise ai...,30.2672,-97.7431
5,2021-02-03,Senior ML Engineer (NLP)\nnew,SIS,3.5,https://www.indeed.com/rc/clk?jk=8e6753c332433...,Type: W2 Inc Description:\nSenior NLP / ML Eng...,Austin,TX,0,type w2 inc description senior nlp ml engineer...,type w2 inc description\nsenior nlp ml enginee...,type w2 inc descript senior nlp ml engin clien...,type w2 inc description senior nlp ml engineer...,30.2672,-97.7431